<div class="container">

  <h3>登入</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="email" class="control-label">Email</label>
      <div>
        <input type="text" class="form-control"
          formControlName="email" placeholder="Email"/>
        <app-form-error ngDefaultControl [form]="form.controls['email']"></app-form-error>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="control-label">密碼</label>
      <div>
        <input type="password" class="form-control"
          formControlName="password" placeholder="Password" autocomplete="current-password"/>
        <app-form-error ngDefaultControl [form]="form.controls['password']"></app-form-error>
      </div>

      <span class="label" style="margin-top: 5px;float: right !important;">
        <a style="text-decoration: underline;" (click)="forgot()">忘記密碼</a>
      </span>
    </div>

    <div style="text-align: center; padding-top: 15px; margin-bottom: 0px;">
      <button customButton="success" type="submit" [disabled]="form.invalid || logining">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!logining"></span>
        登入
      </button>
    </div>
  </form>

  <p class="seperator">或是</p>

  <div>
    <p class="join">第一次使用？ <a style="text-decoration: underline;cursor: pointer;" (click)="join()">註冊</a></p>
  </div>
</div>


