span {
  font-size: 15px;
  color: #fff;
  cursor: default;
}

app-form-error {
  --position: relative;
  --padding: 0.75rem 1.25rem;
  --margin-bottom: 1rem;
  --border: 1px solid transparent;
  --border-radius: 0.25rem;
  --color: #721c24;
  --background-color: #f8d7da;
  --border-color: #f5c6cb;
  --margin-top: 0.25rem !important;
  --margin-bottom: 0.25rem !important;
  --max-width: 400px;
}

@media (max-width: 767.98px) {
  span {
    font-size: 14px;
  }
}
