.container-fluid {
  padding: 0px;

  a {
    color: #fff;
    cursor: pointer;
  }
  .navbar-brand {
    justify-content: center;
    align-items: center;
    display: flex;
    span {
      margin-left: 0.625rem;
    }
  }
  nav {
    background-color: #262626;
    z-index: 2;
  }
  .navbar {
    box-shadow: 0px 0px 6px 0px rgba(81, 76, 76, 0.9);
  }
}
